.icons {
  text-align: center;
}
.icon {
  display: inline-block;
  margin-top: 250px;
  margin-bottom: 200px;

}

figcaption {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: blue;
}

a:link {
  color: black;
}

a:hover {
  color: blue;
}
