/* general appearance definitions here  */

body {
    display: block;
    background-color: #023a3a;
}

/* section {
    margin-top: 0%;
} */

.shape {
    border: 2px solid;
    border-radius: 10px;
    background-color: #e2e611;
    width: 40%;
}

/* header section  */

.header {
    background-color: #f3770a;
    align-items: center;
    width: 100%;
    position: relative;
    height: 130px;
    display: flex;
    box-shadow: 0px 10px 8px rgba(7, 7, 7, 0.3);
}

.patient-name {
    /* display: none; */
    padding-left: 40px;
    font-size: 45px;
    font-family: Bebas Neue;
    letter-spacing: 2px;
}


/* img {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  } */


.display-img {
    position: absolute;
    /* left: 85%; */
    top: 30px;
    right: 2%;
    border-radius: 50%;
    border: #fcfcfc 5px solid;
    align-self: first baseline;
    /* box-shadow: 0px 6px 4px rgba(7, 7, 7, 0.3); */
    height: 150px;
    /* padding-top: 30px; */
    border-image: black solid;
    /* padding-left: 55%; */
    z-index: 999;
}

#search-patient {
    display: none;
    position: absolute;
    top: 35px;
    left: 50px;
    width: 25%;
    height: 35%;
    border: none;
    border-bottom: 2px solid;
    background-color: transparent;
    outline: none;
    font-size: 18px;
    background-image: url("../images/icons/examination2.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 30px 30px;
    padding-bottom: 0px;
}

/* casefile section  */

.casefile {
    width: 100%;
    margin-top: -2px;
    display: inline-flex;

    @media (max-width: 767px) {
      display: block;
    }
}

.case-form {
    /* border: 2px solid #0b0224; */
    border-radius: 10px;
    width: 60%;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color:  #E0FFFF;
    @media (max-width: 767px) {
      width: 90%;
    }
}
.right-side-info {
    margin-top: 12px;
    margin-left: 2px;
    width: 40%;
    display: flexbox;
    @media (max-width: 767px) {
      width: 100%;
    }
}

.bio-data {
    font-size: 1.5rem;
    line-height: 10pt;
    font-family: "Bebas Neue";
    letter-spacing: 1px;
    padding: 10%;
    border-radius: 10px;
    background-color: #97f8e0;
    border: 2px solid #f59403;
    height: 300px;
}

.vital-sign {
    border-radius: 10px;
    margin-top: 3px;
    padding: 10%;
    font-family: "Bebas Neue";
    font-size: 1.5rem;
    line-height: 20pt;
    letter-spacing: 1px;
    border: 2px solid #f59403;
    background-color: #51f3ca;
    height: 300pt;
}

/* CaseForm  */

.format-form {
    max-width: 500px;
    width: 100%;
    grid-gap: 0cm;
    padding: 20px;
    box-shadow: 0px 0px 20px #0a0a0a38;
    border-radius: 8px;
    background-color:  #054646;
    border-color: #e3e1e1;
    border-bottom-style: solid;
  }

  .step {
    display: none;
  }
  .step.active {
    display: block;
  }

  .form-group {
    width: 100%;
    margin-top: 20px;
  }
  .form-group input {
    width: 100%;
    border: 1.5px solid rgba(128, 128, 128, 0.418);
    padding: 5px;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 4px;
  }

  .symptoms-tag ul{
    display: flex;
    background: transparent;
    flex-wrap: wrap;
    padding: 7px;
    margin: 12px 0;
    border: 2px solid #cebaef;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .symptoms-tag ul  li{
    color: rgb(14, 4, 42);
    margin: 4px 3px;
    list-style: none;
    border-radius: 5px;
    background: #F2F2F2;
    padding: 5px 8px 5px 10px;
    border: 1px solid #e3e1e1;
  }
  .symptoms-tag ul li i{
    height: 20px;
    width: 20px;
    color: rgb(14, 4, 42);
    margin-left: 8px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 50%;
    background: #dfdfdf;
    justify-content: center;
  }
  .symptoms-tag ul input{
    flex: 1;
    padding: 5px;
    border:  1.5px solid white;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
  }

textarea {
  width: 100%;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  /* border-bottom: 2pt; */
  background-color: transparent;
  color: #ffffff;
  border-width: 2px;
  border-color: #ffff;
  font-size: 18px;
}

  button.nxt-btn,
  button.prev-btn,
  button.submit-btn {
    float: right;
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: rgb(186, 169, 225);
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    color: rgb(14, 4, 42);
    cursor: pointer;
    /* text-align: right; */
  }
  button.prev-btn {
    float: left;
  }

  button.submit-btn {
    background-color: rgb(240, 158, 6);
  }
label {
color: rgb(193, 176, 239);
font-weight: bold;
}
label.firstname {
  float: left;
}



p.error {
  color: red;
  font-weight: bold;
  text-align: center;
}
p.diseases {
  color:rgb(255, 255, 255);
  float: right;
}
p.medics {
  color: rgb(255, 255, 255);
}
p.detail {
  color: rgb(186, 169, 225);
  font-size: 20px;
}

h2 {
  color: yellow;
}

#tags-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  border: 1px solid #ccc;
  padding: 4px;
}

#tags-container .tag {
  display: inline-flex;
  align-items: center;
  background-color: #eee;
  color: #333;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

#tags-container .tag:hover {
  background-color: #ddd;
}

/* api section  */

.api {
    width: 100%;
    display: inline-flex;
    padding-top: 3px;
    @media (max-width: 767px) {
      display: block;
    }
}

.bp-graph, .test-cases, .drug-lookup {
    border: 2px solid #f59403;
    background-color: #dcf8f1;
    @media (max-width: 767px) {
      width: 100%;
      height: 300px;
      margin-top: 4px;
      margin-left: none;
      margin-right: none;
    }
}

.test-cases {
  display: block;
  justify-content: center;
  margin-left: 4px;
  @media (max-width: 767px) {
    margin-top: 3px;
    margin-left: none;
  }
}

.prev-test, .new-test {
  border-bottom: 2px solid #030831;
  width: 98%;
  height: 50%;
  margin-top: 3px;
}

.new-test {
  padding-left: 3%;
  display: flex;
  align-items: center;
  border-bottom: none;
}

#new-test {
  border: none;
  border-bottom: solid 2px black;
  background-color: transparent;
  background-image: url("../images/icons/icons8-add-100.png");
  /* <a target="_blank" href="https://icons8.com/icon/41PSsUl01s58/add">Add</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */
  outline: none;
  font-size: 22px;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: 35px 35px;
  width: 90%;
  height: 32px;
  padding-top: 1px;
}

.new-test form {
  position: relative;
}

 .new-test button{
  position: absolute;
  right: 9%;
  height: 30px;
  width: 30px;
  bottom: 2px;
  background-color: transparent;
  border: none;
}

.drug-lookup {
  margin-left: 3px;
}

/* footer section  */

.footer {
    height: 100px;
}
