@font-face {
  font-family: "Fonseca";
  src: url("../fonts/Fonseca\ Bold\ -\ Free\ ver.otf");
}

@font-face {
  font-family: "GilroyBold";
  src: url("../fonts/Gilroy-ExtraBold.otf");
}


@font-face {
  font-family: "PoppinsMid";
  src: url("../fonts/Poppins-Medium.otf");
}


@font-face {
  font-family: "GilroyLight";
  src: url("../fonts/Gilroy-Light.otf");
}

@font-face {
  font-family: "PoppinsThin";
  src: url("../fonts/Poppins-Thin.otf");
}


* {
  --bg-color: #025464;
  --header-txt-color: rgba(0, 0, 0, 0.87);
  --txt-color: #fff;
  --style-color: #420769;

  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "ubuntu";
}


.altLink{
  margin-left: .9rem;
}

a{
  text-decoration: none;
  color: var(--txt-color);
  font-family: ubuntu,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.additionals {
  font-size: .7rem;
  opacity: 70%;
  margin-left: 1.5rem;
}
body {
  margin: 0;
  padding: 0;
  background-color: #F8F1F1;
}

body:nth-child(1) {
  background-color: var(--bg-color);
}

.circles {
  background-color: #E57C23;
}

.style-one {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  right: 10%; 
  translate: transform(-50%, -50%);
  filter: blur(90px);
  overflow: hidden;
}

.style-two {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -5%;
  left: -3%; 
  translate: transform(-50%, -50%);
  filter: blur(35px);
}

.intro-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6.5rem;;
  padding-right: 6.5rem;
  margin: 0 auto;
  position: relative;
  color: var(--txt-color);
  font-family: "ubuntu";
  opacity: 1;
}



.icons {
  margin-top: 40px;
  width: 5%;
  height: 10%;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
.icons div {
  width: 0%;
  height: 1%;
}
.icons img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

footer {
  text-align: center;
  background-color: #08553b;
  padding: 1.5rem;
  color: white;
}

.main {
  background: var(--bg-color);
  position: relative;
}

.main::before{
  content: '';
  width: 100%;
  height: 50px;
  z-index: 1000;
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, var(--bg-color));
  display: block;
}


.main-section {
  min-height: 85vh;
  display: flex;
  color: var(--txt-color);
  font-family: "ubuntu";
  position: relative;
  padding-top: 3rem;
}

.main-section .intro-container h1 {
  font-family: "Fonseca", "Times New Roman", ubuntu;
}

.nav{
  position: sticky;
  top: 0;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%
}

.nav-links ul li{
  display: inline-block;
  list-style-type: none;
  margin-left: .9rem;
  position: relative;
  right: 80px;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--txt-color);
  font-family: "Ubuntu";
}

.nav-links ul li a:hover::after{
  width: 100%;
}

header nav ul li a::after{
  content: '';
  display: block;
  background-color: red;
  width: 0;
  bottom: 8%;
  transition: 200ms ease-in width;
  height: 3px;
}

.intro-container {
  display: flex;
  padding: 2.5rem;
}

.child-one {
  width: 100%;
}

.child-one h1 {
  font-size: 3.7rem;
  margin: 0;
  color: var(--txt-color);
  text-transform: uppercase;

}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 70%;
  margin: 0 auto;
  gap: 50px;

}

.grid-icons {
  width: 60px;
  border-radius: 10px;
}

.grid-icons img {
  display: block;
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
}

.grid-layout p {
  line-height: 1.5rem;
  font-size: .87rem;
  opacity: 80%;
}

h4 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  vertical-align: baseline;
  text-align: center;
  background-color: rgba(221, 213, 213, 0.856);
  display: inline-block;
  padding: .6rem;
  margin: 0;
  margin-top: 10px;
  margin-left: 5px;
}

.image-container {
  min-width: 45%;
  position: relative;
  max-width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div > h4 + span {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-left: .5rem;
  opacity: 80%;
}

#scroll-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
}

.scroll-icon {
  display: block;
  position: relative;
  height: 3em;
  width: 1.5em;
  border: .2em solid #fff;
  border-radius: 1em;
}
@keyframes scroll_1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-0.6em); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(0.6em); }
  100% { transform: translateY(0); }
}

.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .6em;
  height: 1em;
  width: .4em;
  margin-left: -.2em;
  border-radius: .4em;
  overflow: hidden;
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #fff;
  animation: scroll_1 2.75s ease-in-out infinite;
}


.styledLink{
  text-decoration: none;
  background-color: #E8AA42;
  font-size: 1rem;
  font-family: ubuntu;
  padding: .7rem;
  display: inline-block;
  color: white;
  width: 6.5rem;
  text-align: center;
  border-radius: 45px;
  margin-top: 1.5rem;
  transition: 200ms ease-in background-color, color;
}

.styledLink:hover {
  background-color: #E57C23;
  color: black
}

.section-one {
  background-color: #F8F1F1;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

section.section-one + section {
  width: 100%;
  padding: 5rem;
  justify-content: center;
  background-color: #F1F1E6;

}

.steps-container {
  display: flex;
  justify-content: center;
}

section > h2 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section-two > div p {
  opacity: 60%;
  font-size: .8rem;
  padding-left: 2rem;
}

.section-two > div + div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 1rem;
  gap: .1rem;
}

.section-two > div + div div {
  border: 1px solid white;
  padding: .4rem
}

.section-two > div + div div:hover {
  border: 1px solid black;
  background-color: #E57C23;
}


.section-two > h2 + div div {
  border: 1px solid black;
  padding: .7rem;
  background-color: lightyellow;
}

.ajlogo {
  width: 4.5%;
  height: auto;
  padding: 0%;
}

header {
  background-color: transparent;
}

header h1 {
  left: 0%;
  float: left;
  padding-left: 0%;
  margin-left: .9rem;
}

.child-one h1 span {
  color: white;
  position: relative;
  z-index: 1;
  font-family: "GilroyBold";
}

.child-one h1 span::after {
  content: '';
  display: inline-block;
  background-color: #E57C23;
  height: 90%;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
  padding-left: 5px;
  padding-right: 5px;
}

.flex-popUpimages{
  display: flex;
  width: 100%;
}

.pop-up {
  background-image: radial-gradient(circle, #a1a0a0, #b8b7b7, #cfcecf, #e7e7e7, #ffffff);
  opacity: 70%;
  position: absolute;
  max-width: 150px;
  height: 100px;
  border-radius: 10px;
  padding: 1rem;
  font-size: .6rem;
  left: 0;
  bottom: 65%;
  box-shadow: var(--bg-col) 22px 10px 13px inset;
  display: flex;
  flex-direction: column;
}

.pop-up p{
  color: black;
}

.pop-upImages{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
}

.pop-upImages img {
  width: 100%;
  height: 100%;
}

.doc-one {
  position: relative;
  /* right: 5px; */
  background-color: #ffffff;
}

.doc-two {
  position: relative;
  right: 5px;
  background-color: #a1a0a0;
}

.doc-three {
  position: relative;
  right: 10px;
  background-color: #fff;
}

.subscribeForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  max-width: 70%;
  padding: 2rem;
  margin: 0 auto;
}

.subscribeForm div {
  background-color: #08553b;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}

.subscribeForm div div {
  text-align: center;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.subscribeForm div input {
  border-radius: 4rem;
  padding: .6rem;
  border: 1px solid black;
  outline: none;
  display: inline;
  width: 80%;
}

.subscribeForm div form {
  position: relative;
}

.subscribeForm div form button {
  padding: .4rem;
  background-color: #E57C23;
  border-radius: 45px;
  border: 1px solid black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: absolute;
  right: 10.5%;
  top: 6.9%;
  text-transform: uppercase;
  font-weight: 700;
}
.subscribeForm div form button:hover {
  background-color: #E8AA42;
  transition: ease-in 200ms background-color;
}

  .subscribeForm div div h2 {
    margin-top: -5%;
    font-size: 1.6rem;
  }

::placeholder {
  font-size: 11px;
}