body {
    display: block;
}

section {
    margin-top: 0%;
}

.header {
    height: 100px;
    background-color: #f1f1f1;
}

.casefile {
    width: 100%;
    background-color: aqua;
    display: inline-flex;
}

.case-form {
    width: 60%
}
.right-side-info {
    margin-left: 2px;
    display: flexbox;
}

.footer {
    height: 100px;
}
