
* {
  --bg-color: linear-gradient(to left bottom, #08553b, #1e7c46, #45a349, #78ca43, #b5f030);
  --header-txt-color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "ubuntu";
}


.altLink{
  margin-left: .9rem;
}

a{
  text-decoration: none;
  color: black;
  font-family: ubuntu,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.additionals {
  font-size: .7rem;
  opacity: 70%;
  margin-left: 1.5rem;
}
body {
  margin: 0;
  padding: 0;
}

body:nth-child(1) {
  background-color: var(--bg-color);
}

.intro-container {
/*  background: var(--bg-color);*/
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6.5rem;;
  padding-right: 6.5rem;
  margin: 0 auto;
  position: relative;
  background-color: var(--bg-color);
  color: var(--header-txt-color);
  font-family: "ubuntu";
  opacity: 1;
}



.icons {
  margin-top: 40px;
  width: 5%;
  height: 10%;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}
.icons div {
  width: 0%;
  height: 1%;
}
.icons img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

footer {
  text-align: center;
  background-color: #08553b;
  padding: 1.5rem;
  color: white;
}

.main {
   background: var(--bg-color);
  background-image: "../images/noise.png";
  background-attachment: fixed;
}

.main-section {
 
  display: flex;
  color: var(--header-txt-color);
  font-family: "ubuntu";
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.main-section h1 {
  font-family: "Times New Roman";
  /* font-size: 61rem; */
}

.nav{
  position: sticky;
  top: 0;
}

svg {
  /* width: 30%; */
  /* background-color: red; */
  position: absolute;
  bottom: 80%;

  
}

.nav-links ul li{
  display: inline-block;
  list-style-type: none;
  margin-left: .9rem;
  position: relative;
  right: 80px;
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-family: "Ubuntu";
}

.nav-links ul li a:hover::after{
  width: 100%;
}

header nav ul li a::after{
  content: '';
  display: block;
  background-color: red;
  width: 0;
  bottom: 8%;
  transition: 200ms ease-in width;
  height: 3px;
}

.intro-container {
  display: flex;
  padding: 2.5rem;
}

.child-one {
  width: 100%;
}

.child-one h1 {
  font-size: 3rem;
  margin: 0;
  color: var(--header-txt-color);
  text-shadow: whitesmoke 1.4px  .1px 1.4px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 70%;
  margin: 0 auto;
  gap: 50px;
  /* text-align: center; */

}

.grid-icons {
  width: 60px;
  border-radius: 10px;
  /* margin: 0 auto; */
}

.grid-icons img {
  display: block;
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
}

.grid-layout p {
  line-height: 1.5rem;
  font-size: .87rem;
  opacity: 80%;
}

h4 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  vertical-align: baseline;
  text-align: center;
  background-color: rgba(221, 213, 213, 0.856);
  display: inline-block;
  padding: .6rem;
  margin: 0;
  margin-top: 10px;
  margin-left: 5px;
}

.image-container {
  min-width: 45%;
  position: relative;
  /* padding-bottom: rem; */
/*  background: transparent;*/
}

div > h4 + span {
  font-weight: bolder;
  font-size: 1.2rem;
  margin-left: .5rem;
  opacity: 80%;
}

#scroll-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
}

.scroll-icon {
  display: block;
  position: relative;
  height: 3em;
  width: 1.5em;
  border: .2em solid #fff;
  border-radius: 1em;
}
@keyframes scroll_1 {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-0.6em); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(0.6em); }
  100% { transform: translateY(0); }
}

.scroll-icon__wheel-outer {
  display: block;
  position: absolute;
  left: 50%;
  top: .6em;
  height: 1em;
  width: .4em;
  margin-left: -.2em;
  border-radius: .4em;
  overflow: hidden;
}

.scroll-icon__wheel-inner {
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: #fff;
  animation: scroll_1 2.75s ease-in-out infinite;
}


.styledLink{
  text-decoration: none;
  background-color: rgba(101, 107, 15, 0.801);
  font-size: 1rem;
  font-family: ubuntu;
  padding: .7rem;
  display: inline-block;
  color: white;
  width: 6.5rem;
  text-align: center;
  border-radius: 45px;
  margin-top: 1.5rem;
  transition: 200ms ease-in background-color, color;
}

.styledLink:hover {
  background-color: rgb(194, 194, 18);
  color: black
}

.section-one {
  background-color: #fff;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

section.section-one + section {
  width: 100%;
  padding: 3rem;
  justify-content: center;
}

.steps-container {
  display: flex;
  justify-content: center;
}

section > h2 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section-two > div p {
  opacity: 60%;
  font-size: .8rem;
  padding-left: 2rem;
}

.section-two > div + div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
/*  gap: 1rem;*/
}

.section-two > h2 + div div {
  border: 1px solid black;
  padding: .7rem;
/*  border-radius: 10px;*/
  background-color: lightyellow;

/*  box-shadow: grey 2px 2px 3px 1px;*/
/*  transition: 200ms ease-in transform;*/
}

/*
.section-two > h2 + div div:hover {
  border: 1px solid none;
  padding: .9rem;
  border-radius: 10px;
  box-shadow: rgb(25, 26, 25) 2px 2px 3px 1px;
  transform: scale(1.2);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}*/

.ajlogo {
  width: 4.5%;
  height: auto;
  padding: 0%;
}

header h1 {
  left: 0%;
  float: left;
  padding-left: 0%;
  margin-left: .9rem;
}

h1 span {
  color: rgba(238, 255, 0, 0.801);
}
